function Main.main 3
call Game.new 0
pop local 0
push constant 7
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 49
call String.appendChar 2
push local 0
call Player.new 2
pop local 1
push constant 7
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 50
call String.appendChar 2
push local 0
call Player.new 2
pop local 2
push local 1
call Player.getName 1
call Output.printString 1
pop temp 0
push local 2
call Player.getName 1
call Output.printString 1
pop temp 0
push constant 0
return
